.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 100;
}
.modal {
  width: clamp(40%, 600px, 85%);
  height: min(50%, 300px);

  margin: auto;
  padding: 20px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff;

  position: relative;
}

.modal-heading {
  font-size: 40px;
  margin: 0;
  margin-bottom: 25px;
}

.modal .modal-btn-close {
  position: absolute;
  right: 8px;
  top: 0px;
  display: block;
  cursor: pointer;
  padding: 3px;
}
.modal .modal-btn-close:hover {
  color: rgb(64, 64, 64);
}
.modal .modal-btn-close::after {
  content: "\00d7"; /* This will render the 'X' */
  display: inline-block;
  font-size: 45px;
  line-height: 1;
}
