body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
  font-size: 40px;
  padding: 10px 20px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: rgb(6, 137, 231);
  color: white;
  cursor: pointer;
}
.btn.btn--orange {
  background-color: orange;
}
.btn + .btn {
  margin-left: 20px;
}
.modal.custom-modal {
}
